
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
.env
screenshots/
allure-results/
allure-report/
.github/chatmodes/
authentication/conduit-user.json
